body {

    background:rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {

    color: white;
    text-align: center;
}

section{

    background: rgb(25, 139, 13);
    border-radius: 10px;
    padding: 15px;
    margin: auto;       
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.363);
}

div{

    text-align:center;
    padding: 8px;
}

footer{

    color: white;
    text-align: center;
    font-style: italic;
    
}